*{
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
  background: url('laptop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var( --primary-colour);
}
:root{
  --primary-colour:black;
  --secondary-colour: #242424ee;;
}
.dark-theme{
  --primary-colour:blue;
  --secondary-colour:white;
}
nav{
  background-color: rgba(0, 0, 0, 0.548);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 100%;
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  font-size: 17px;
}
nav a:hover{
  border-bottom:2px solid rgba(255, 0, 0, 0.521);
  color: rgb(240, 240, 21);
}
nav li:first-child{
  margin-right: auto;
}
.sidebar{
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: #788b09ee;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 200;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.menu-button{
  display: none;
}
.all{
  width: 100%;
  display: flex;
  position: relative;
}
video{
  width: 100%;
  
}

.dall{
  position: absolute;
  top: 60px;
  text-align: center;
}
p{
  font-weight: 600;
  color: white;
  font-size: 18px;
  margin-bottom: 20px;
}
h1{
  color: white;
  font-weight:700;
  text-transform: uppercase;
}
.more{
  text-decoration: none;
  color: white;
  background-color: rgba(212, 212, 23, 0.973);
  outline: 0;
  border-radius: 10px;
  padding: 6px 14px;
  font-size: 20px;
  margin-bottom: 20px;
}
.more:hover{
  background-color: blue;
}
h3{
  margin:20px 20px;
  font-size: 22px;
  text-transform: uppercase;
}
.page{
  color: #242424ee;
  letter-spacing: 1.2px;
  line-height: 24px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 10px;
}
.img1{
  width: 100%;
}
#Division{
  background-color: rgba(206, 206, 24, 0.719);
  padding-top: 20px;
  height: auto;
}
 ul {
  text-align: center;
  cursor: pointer;
 color: white;
}
.li a{
   color: blue;
  text-decoration: none;
}
ul .li{
  margin-top: 8px;
}
ul .li a:hover{
 color:rgb(240, 6, 6);
}
#ariel{
  border-top: 2px solid blue;
  padding-bottom: 40px;
}
  .text{
     color: #242424ee;
  letter-spacing: 1.2px;
  line-height: 24px;
  margin-left: 20px;
  margin-right: 10px;
  }
.img2{
  width: 90%;
  border-radius: 10px;
  margin: 20px 20px;
}
.load{
  margin: 10px 150px;
  text-decoration: none;
  background-color: blue;
  color: white;
  padding:10px 10px;
  border-radius: 10px;
  font-size: 17px;
}
#remote{
   border-top: 2px solid blue;
  padding-bottom: 40px;
}
#ground{
   border-top: 2px solid blue;
  padding-bottom: 40px;
}
#geo{
 border-top: 2px solid blue;
  padding-bottom: 40px;
}

@media(max-width: 700px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: flex;
    background-color: rgba(212, 212, 23, 0.973);
  }
  nav{
    background-color: transparent !important;
  }

}

@media(min-width: 700px){
 
  .menu-button{
    display: none;
  }
}



@media(min-width: 1000px){

  .menu-button{
    display: none;
  }

.dall{
  top: 40%;
}
p{
  text-align: center;
  width: 60%;
  margin-left: 22%;
}
.all{
  height: fit-content;
}

}zXxz8oj